  /***********FOUNDATION STYLES FOR ALL PAGES**************/

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  font-family: 'Slabo 27px', serif;
  margin: 10px;
  height: 100%;
  min-height: 100%;
  background: url("../images/sunset-greyed.jpg");
}

.container {
  position: relative;
  max-width: 960px;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: 84px;

  content: " ";
  clear: both;
}

header {
  height: 96px;
  margin: 0;
  padding: 8px 8px 8px 6px;
  background: linear-gradient(to right,rgba(0,193,199,.6)10%, rgba(0,247,242,.3)65%,rgba(0,193,199,.6));
  border-radius: 0 0 2px 2px;
  box-shadow: 0 0 2px rgba(105,62,57,1);
}

nav {
  height: 100%;
}

.home {
  position: relative;
  float: left;
  width: 20%;
  min-width: 84px;
  height: 100%;
  text-align: center;
  font-size: 1.5em;
  border-right: 1px solid rgba(4,102,108,.3);
  border-left: 1px solid rgba(4,102,108,.3);
}
.home:before {
  content: "";
  position: absolute;
  top: 0;
  left:0;
  bottom: 0;
  border-left: 1px solid rgba(39,172,173,1);
}
.home:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: 1px solid rgba(39,172,173,1);
}

.home a {
  display: block;
  height: 100%;
  padding-top: 50px;
}
.home a:before {
  width: 0;
  height: 0;
  position: absolute; top: -30px; left: 40%;
  border: 16px solid transparent;
  border-bottom-color: rgba(65,71,89,.6);
  border-width: 32px 16px;
  display: block;
  content: '';
}
.home a:after {
  width: 32px;
  height: 20px;
  border-radius: 0 0 16px 16px;
  position: absolute; top: 34px; left: 40%;
  display: block;
  background: linear-gradient(to top, rgba(65,71,89,.2), rgba(65,71,89,.6));
  content: '';
}
.home:hover {
  box-shadow: 0 0 1px rgba(4,102,108,1);
}

nav ul {
  float: right;
  list-style: none;
  width: 78.5%;
  height: 100%;
  margin: 0 0 0 1.5%;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  font-size: 1.125em;
  margin:  1.60% 4px 2%;
  padding: 0;
  min-width: 72px;
  height: 70%;
  border-radius: 0 0 1px 1px;
  box-shadow: 0 0 1px rgba(4,102,108,1);
}
nav ul li:first-child {
  background: rgba(247,111,156,.6);
}
nav ul li:nth-child(2) {
  background: rgba(255,246,118,.7);
}
nav ul li:nth-child(3) {
  background: rgba(110,112,171,.6);
}
nav ul li:nth-child(4) {
  background: rgba(255,193,118,.5);
}
nav ul li:last-child {
  background: rgba(209,210,247,.6);
}
nav ul li a {
  display: block;
  height: 100%;
  padding: 16px 4px 20px;
}

a {
  outline: none;
  text-decoration: none;
  color: rgba(2,48,64,.8);
  text-shadow: 0 0 1px white;
  -webkit-transition: background .5s, color .25s;
          transition: background .5s, color .25s;
}
.selected {
  color: rgba(190,217,247,1);
  text-shadow: 0 0 2px rgba(4,102,108,.9);
}
a:hover {
  background: rgba(68,219,199,.7);
}
.content > h1:first-child {
  margin-top: 20px;
  text-align: center;
}
h1, h2 {
  color: rgba(2,48,64,.8);
}

ul,ol {
  list-style: none;
  margin: 0;
  padding: 0;
}



footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 64px;
  clear: both;
  background: linear-gradient(to right, rgba(0,193,199,.5) 25%, rgba(0,247,242,.3) 50%, rgba(0,193,199,.5));
  border-radius: 2px 2px 0 0;
  box-shadow: 0 0 2px rgba(105,62,57,.8);
  text-align: center;
  line-height: 64px;
}

footer span {
  position: relative;
  font-size: 1.145em;
  text-shadow: 0 0 1px white;
}
footer span:before {
  content: '©';
  margin-right: 4px;
  color: orange;
}
footer span:after {
  content: 'Blake Wilson';
  color: rgb(110,112,171);
}
/********Clear Moz defaults psuedo element styling********/
*:focus, *:visited, *:active, *:hover  { outline:0 !important;}
*::-moz-focus-inner {border:0;}

/*******Clear Moz deafult select element styling********/
@-moz-document url-prefix() {
  select, select:-moz-focusring, select::-moz-focus-inner {
    color: transparent;
    text-shadow: 0 0 0 rgba(0,35,64,.45);
    background-image: none;
    border:0;
    background: transparent;
    box-shadow: none;
  }
}

/********Placeholder defaults********/

::-webkit-input-placeholder {
  color: rgba(0,35,64,.45);
}
::-moz-placeholder {
  color: rgba(0,35,64,.45);
}
:-ms-input-placeholder {
  color: rgba(0,35,64,.45);
}
:-moz-placeholder {
  color: rgba(0,35,64,.45);
}

/********Button, select, input defualts********/

button, input[type=submit] {
  outline: 0;
  border: 0;
  border-style: none;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}
/***************FOUNDATION MEDIA QUERIES ***************/

@media screen and (max-width: 634px){
  nav ul {
    width: 74.5%;
  }
  nav ul li {
    height: 48%;
    margin: 0 4px 1%;
  }
  nav ul li a {
    padding: 8px 4px 0;
    height: 100%;
  }
  .home {
    width: 24%;
  }
  .home a {
    font-size: 1em;
  }
  .home a:before {
    left: 38%;
  }
  .home a:after {
    left: 38%;
  }
}



@media screen and (max-width: 400px) {
  header {
    height: 148px;
  }
  nav ul {
    width: 68%;
  }
  .home {
    width: 28%;
  }
  .home a {
    padding-top: 72px;
  }
  .home a:before {
    left: 30%;
  }
  .home a:after {
    left: 30%;
  }
  nav ul li {
    height: 31.2%;
    margin-bottom: 2%;
  }
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

::-moz-placeholder {
  opacity: 1;
}

